nav {
  position: relative;
  background-color: var(--primary-backgroundColor);
  min-height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  transition: width 0.5s;
  z-index: 2;
}

.shopOwnerInfo {
  height: 110px;
  display: flex;
  align-items: center;
  padding: 1.5rem 0 0 0;
}

.shopOwnerInfo h4 {
  font-size: 1rem;
  white-space: nowrap;
}

.shopOwnerInfo div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 5px;
}

.shopOwnerInfo img {
  width: 70px;
  border-radius: 50%;
}

.shopOwnerInfo div {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.shopOwnerInfo div p {
  color: var(--secondary-fontColor);
  font-size: 14px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.shopOwnerInfo div h4 {
  color: var(--primary-fontColor);
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.shopOwnerInfo button {
  position: absolute;
  left: 103%;
  font-size: 1rem;
  padding: 0.6rem;
  border-radius: 8px;
  border: 1px solid var(--third-elementsColor);
  background: var(--primary-backgroundColor);
  color: var(--secondary-fontColor);
  transition: transform 0.5s;
  transform: rotate(180deg);
}

nav hr {
  width: 100%;
  height: 2px;
  margin: 1.5rem;
  border: none;
  border-radius: 2px;
  background-color: var(--third-elementsColor);
}

nav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
}


nav ul p {
  font-size: 0.8rem;
  color: var(--primary-fontColor);
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li a {
  width: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: var(--primary-fontColor);
  font-weight: 500;
  line-height: 20px;
  transition: color 0.4s;
  padding: 0.9rem 0.4rem;
  margin: 0.3rem 0;
  border-radius: 1rem;
  transition: background-color 0.6s;
}

nav ul li a:hover {
  background-color: var(--hoverNavColor);
}

nav ul li:hover a {
  color: var(--secondary-fontColor);
}

.active {
  color: var(--secondary-fontColor);
  background-color: var(--hoverNavColor);
}

.mobileNavView {
  width: 100px;
  transition: width 0.5s;
}

.mobileOwnerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 130px;
}

.mobileOwnerInfo img {
  width: 70px;
  padding: 0 !important;
  border-radius: 50%;
  padding-right: 0.8rem;
}

.mobileOwnerInfo div {
  display: none;
}

.mobileOwnerInfo button {
  position: absolute;
  left: 103%;
  font-size: 1rem;
  padding: 0.6rem;
  border-radius: 8px;
  border: 1px solid var(--third-elementsColor);
  background: var(--primary-backgroundColor);
  color: var(--secondary-fontColor);
  transform: rotateX(180deg);
  transition: transform 0.5s;
}

.mobileNavView hr {
  margin-top: 0;
}

.mobileNavView ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobileNavView ul span {
  display: none;
}


.mobileNavView ul a {
  font-size: 2rem;
}

.loginSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.loginSection p, .hiddenLogin p {
  font-size: 0.8rem;
  color: var(--primary-fontColor);
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.loginSection a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100px;
  color: var(--primary-fontColor);
  padding: 0.9rem 0.4rem;
  border-radius: 1rem;
  transition: background-color 0.6s, color .4s;
}

.loginSection a:hover {
  background-color: var(--hoverNavColor);
  color: var(--secondary-fontColor);
}

.loginSection svg {
  margin-right: .7rem;
}

.hiddenLogin a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0.9rem 0.4rem;
  color: var(--primary-fontColor);
  border-radius: 1rem;
  transition: background-color 0.6s, color .4s;
}

.hiddenLogin a:hover {
  background-color: var(--hoverNavColor);
  color: var(--secondary-fontColor);
}

.hiddenLogin svg {
  font-size: 2rem;
}

.hiddenLogin span {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobileNavView {
    width: 0px;
  }

  .mobileNavView img {
    display: none;
  }

  .mobileNavView ul {
    opacity: 0;
    transition: opacity 0s;
  }

  nav ul  {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 1.5s;
  }

 .hiddenLogin {
    opacity: 0;
    transition: opacity 0s;
  }

  .loginSection {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 1.5s;
  }


}
